<footer>
    <div class="row">
        <div class="col-md-12 footer" style="text-align: left;"> <!-- Added left alignment -->
            <p>
                Copyright &copy; Trilinos a Series of LF Projects, LLC. 
                For website terms of use, trademark policy, and other project policies, see 
                <a href="https://lfprojects.org" target="_blank" rel="noopener noreferrer">https://lfprojects.org</a>.
            </p>
            <p>
                {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} 
                Site last generated: {{ site.time | date: "%b %-d, %Y" }}
            </p>
            <p>
                <!-- Feedback link added here -->
                <a class="email" title="Submit feedback" href="#" onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject={{site.feedback_subject_line}} Feedback&body=I have some feedback about ... ' + window.location.href + '%0A %0A';"><i class="fa fa-envelope-o"></i> Feedback</a>
            </p>
        </div>
    </div>
</footer>
