<footer>
    <div class="row">
        <div class="col-md-12 footer" style="text-align: left;"> <!-- Added left alignment -->
            <h4 class="footer-heading">
                <strong>Trilinos is a community project.</strong>
                Please participate in our documentation effort. If you see an error or want to contribute content to this Trilinos website, fork the 
                <a href="https://github.com/trilinos/trilinos.github.io" target="_blank" rel="noopener noreferrer">trilinos.github.io repository</a>, make your modifications, and submit a pull request. Thank you.
            </h4>
            <h4 class="footer-heading">
                <strong>The main Trilinos git repository is on GitHub at</strong> 
                <a href="https://github.com/trilinos/Trilinos" target="_blank" rel="noopener noreferrer">https://github.com/trilinos/Trilinos</a>, 
                where one can open issues and provide contributions. Additional details for developers can be found at the 
                <a href="https://github.com/trilinos/Trilinos/wiki" target="_blank" rel="noopener noreferrer">Trilinos Developers Site</a>.
            </h4>
            <h4 class="footer-heading">
                If you are using Trilinos, please <a href="https://trilinos.github.io/cite.html" target="_blank" rel="noopener noreferrer">cite us</a>. 
                For Trilinos logos, look <a href="https://github.com/trilinos/Logos" target="_blank" rel="noopener noreferrer">here</a>.
            </h4>
            <p>
                Copyright &copy; Trilinos a Series of LF Projects, LLC. 
                For website terms of use, trademark policy, and other project policies, please see 
                <a href="https://lfprojects.org" target="_blank" rel="noopener noreferrer">https://lfprojects.org</a>.
            </p>
            <p>
                {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} 
                Site last generated: {{ site.time | date: "%b %-d, %Y" }}
            </p>
        </div>
    </div>
</footer>
