<footer>
            <div class="row">
                <div class="col-md-6 footer">
  <h3 style="color:blue;"><i>Trilinos is a community project.  
  Please participate in our documentation effort.
  If you see an error or want to contribute
  content to this Trilinos website, fork the <a href="https://github.com/trilinos/trilinos.github.io" target="_blank">trilinos.github.io repository</a>, make your modifications and submit a pull request. Thank you.</i></h3>
  <h4 style="color:black;">If you using Trilinos, please <a href="https://trilinos.github.io/cite.html" target="_blank">cite us.</a> For Trilinos logos, look <a href="https://github.com/trilinos/Logos" target="_blank">here</a>.</h4>
                </div>
                <div class="col-md-6 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<p><img src="{{ "images/trilinos.jpg" }}" alt="Trilinos"/></p>
                </div>
            </div>
</footer>
