<!-- the google_analytics_id gets auto inserted from the config file -->

{% if site.google_analytics %}
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics_id }}');
   $(document).ready(function(){
     $('a.downloadLink').click(function() {
         gtag('event', 'download', {
             'event_label':  $(this).attr('name'),
         });
     });
   });
</script>
{% endif %}