<header>
            <div class="row">
                <div class="col-md-6 header">
<p><img src="{{ "images/trilinos.jpg" }}" alt="Trilinos"/></p>
                </div>
                <div class="col-md-6 header">
<h2 style="background-color:blue;color:white;"><i>Trilinos is a community project.  Please contribute to our documentation effort.
  If you see an error or want to contribute
  content to help other users, <a href="https://github.com/trilinos/trilinos.github.io" target="_blank">fork the trilinos.github.io repository></a> and submit a pull request.</i></h2>
                </div>
            </div>
</header>
