<header>
    <div class="row">
        <div class="col-md-6 header">
            <p><img src="images/Trilinos_Logo_RGB_Stacked_Navy.png" alt="Trilinos" style="width: 250px; height: auto;"/></p>
        </div>
        <div class="col-md-6 header">
            <h3 style="color:blue;">
                <i>The main Trilinos git repository is on GitHub at <a href="https://github.com/trilinos/Trilinos" target="_blank">https://github.com/trilinos/Trilinos</a>, where one can open issues and provide contributions. Additional details for developers can be found at the <a href="https://github.com/trilinos/Trilinos/wiki" target="_blank">Trilinos Developers Site</a>.
            </h3>
        </div>
    </div>
</header>

